.container {
    margin: 0px auto;
    text-align: center;
}

.image{
    margin: 0px auto;
    height:20%; 
    width:20%;
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
}